$modal-background-color: #111121;
$visualizer-background-color: lighten($modal-background-color, 5%);

#iv-modal[data-theme=dark] {

    // general theme styles
    --iv-border-color: rgba(255, 255, 255, 0.07);

    --iv-text-color: white;
    --iv-link-color: #aaaafa;

    // modal styles
    --iv-modal-background-color: #{$modal-background-color};
    
    // visualizer styles
    --iv-visualizer-background-color: #{$visualizer-background-color};

    --iv-visualizer-back-color: var(--iv-modal-background-color);
    --iv-visualizer-back-icon-color: #fafafa;

    --iv-visualizer-module-color: var(--iv-modal-background-color);

    // comments styles
    --iv-comments-color: var(--iv-modal-background-color);
    --iv-comments-border-color: var(--iv-border-color);

    --iv-comments-description-container-border-color: var(--iv-border-color);

    // comment styles
    --iv-comment-border-color: var(--iv-border-color);
    --iv-comment-author-text-color: rgba(255, 255, 255, 0.90);
    --iv-comment-text-color: rgba(255, 255, 255, 0.85);

    --iv-channel-owner-color: #dcaa05;

    // button styles
    --iv-action-button-opacity: 0.70;
    --iv-action-button-hover-opacity: 1;

    --iv-action-button-border-color: var(--iv-text-color);

    --iv-ratings-likes-color: #2d6ef0;
    --iv-ratings-dislikes-color:  #ff4b4b;

    --iv-like-button-active-color: #2d6ef0;
    --iv-dislike-button-active-color: #ff0000;
}
