
#iv-modal:not([data-visualizer]) #iv-visualizer {
    display: none;
}

#iv-visualizer {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;
}

#iv-visualizer-header {
	display: flex;
	position: absolute;

	justify-content: flex-end;
	align-items: center;

	top: 0;

	width: 100%;
	height: 5vw;

	padding: 1vw;

	/*padding-right: 2.4vw;*/
	box-sizing: border-box;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
}

#iv-visualizer-back {
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 3px;
	cursor: pointer;

	background-color: var(--iv-visualizer-back-color);
	fill: var(--iv-visualizer-back-icon-color);
}

#iv-visualizer-canvas {
	background-color: var(--iv-visualizer-background-color);
}

#iv-visualizer-footer {
	display: flex;
	position: absolute;

	overflow-x: auto;

	flex-flow: row wrap;

	align-items: center;
	justify-content: center;

	bottom: 0.2vw;

	width: 100%;
	height: 7vw;

	padding: 0 1.2vw 0 1.2vw;
	box-sizing: border-box;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
}

#iv-visualizer:hover #iv-visualizer-header,
#iv-visualizer:hover #iv-visualizer-footer {
	visibility: visible;
	opacity: 1;
}

#iv-modal[data-overlayed-vis] #iv-visualizer {
	position: absolute;
	opacity: 0.7;
	opacity: var(--iv-overlay-vis-opacity);
	pointer-events: none;
}

#iv-modal[data-overlayed-vis] #iv-visualizer-back {
	display: none;
}

#iv-modal[data-overlayed-vis] #iv-visualizer-canvas {
	background-color: rgba(0, 0, 0, 0.7);
	background-color: var(--iv-backdrop-vis-color);
}
