body {
    font-family: 'Roboto', sans-serif;

    position: absolute;

    /*align-items: center;*/
    /*justify-content: center;*/

    width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;

	/*svg circle {
        fill: yellow !important;
    }
    svg stop {
        stop-color: blue !important;
    }*/
}

a {
    text-decoration: none;
}

#demo {
	display: grid;
	align-items: center;
	justify-content: center;
}

yt-icon {
	display: none;
}
