.iv-comment {

	margin-bottom: 0.5vw;

	.iv-comment-author {
		color: var(--iv-comment-author-text-color);
		font-weight: 700;
		font-size: 0.9vw;
		opacity: 0.95;
	}

	.iv-comment-text {
		color: var(--iv-comment-text-color);
		margin-top: 0.3vw;
		font-size: 0.75vw;

		a {
			color: #aaaafa !important;
		}

		white-space: pre-line;

	}

}

.iv-comment:not(.iv-video-description) {
	border-bottom: 1px solid var(--iv-comment-border-color);
}

.iv-channel-owner-comment .iv-comment-author {
	color: var(--iv-channel-owner-color) !important;
}