.iv-channel {

    --iv-channel-scale: 0.9;

    --iv-channel-avatar-size: calc(3.1vw * var(--iv-channel-scale));
    --iv-channel-font-size: calc(1vw * var(--iv-channel-scale));
 
    display: flex;

    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;

    .iv-channel-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 1vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .iv-channel-avatar-wrapper {
        display: flex;
        align-items: center;
    }
    
    .iv-channel-avatar {
        width: var(--iv-channel-avatar-size);
        height: var(--iv-channel-avatar-size);
        border-radius: 50%;
    }

    .iv-channel-title {
        font-size: var(--iv-channel-font-size);
        color: var(--iv-text-color) !important;
        // justify-self: center;
        margin-bottom: 0.2em;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}