.iv-subscribe-button {

    --iv-sub-scale: 0.9;

    --iv-sub-vertical-padding: calc(0.2vw * var(--iv-sub-scale));

    --iv-sub-left-padding: calc(0.5vw * var(--iv-sub-scale));
    --iv-sub-right-padding: calc(0.7vw * var(--iv-sub-scale));

    --iv-sub-icon-size: calc(1vw * var(--iv-sub-scale));

    --iv-sub-font-size: calc(0.8vw * var(--iv-sub-scale));

    display: flex;

    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    // width: 8vw;

    padding: var(--iv-sub-vertical-padding) var(--iv-sub-right-padding) var(--iv-sub-vertical-padding) var(--iv-sub-left-padding);
    border: 1px solid var(--iv-action-button-border-color);
    border-radius: 1em;

    cursor: pointer;

    background-color: transparent;
    color: var(--iv-text-color);

    outline: none;

    opacity: var(--iv-action-button-opacity);
    &:hover {
        opacity: var(--iv-action-button-hover-opacity);
    }

    .iv-channel-subscribe-status {
        font-size: var(--iv-sub-font-size);
        margin-left: 0.2vw;
        margin-right: 0.4vw;
    }

    svg {
        width: var(--iv-sub-icon-size);
        height: var(--iv-sub-icon-size);
        fill: var(--iv-text-color);
    }

    .iv-channel-subscribers {
        font-size: var(--iv-sub-font-size);
    }

    #iv-subscribe-spinner:not(.active) {
        position: absolute;
        visibility: hidden;
    }

    #iv-subscribe-spinner circle {
        fill: var(--iv-text-color);
    }
    #iv-subscribe-spinner stop {
        stop-color: var(--iv-text-color);
    }
    
}