s-modal {
	position: fixed;
	width: 100%;
	height: 100%;

	/* 25% of document width */
	--mini-width-percent: 0.25; 

	--mini-padding: 1.3em;
	--mini-transition-speed: 300ms;
	--mini-border: 1px solid rgba(0, 0, 0, 0.15);

	--mini-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	--mini-hover-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

	--mini-bgcolor: white;

	--mini-button-color: white;
    --mini-button-bgcolor: #1e88e5;
    --mini-button-margin: 0.6em;
    --mini-button-padding: 1.1em;
    --mini-button-height: 2.4em;

}

s-modal dialog {
    position: fixed;
	width: 70%;
	height: 90%;
	padding: 0;
	border: none;

	background-color: rgba(0, 0, 0, 0);
}
s-modal dialog::backdrop {
	cursor: pointer;
	transition: opacity 300ms;
	opacity: 0;
	background-color: #000000;
}
s-modal[data-open] dialog::backdrop {
	opacity: 0.85;
}

/* miniplayer */

s-modal[data-mini] {
	position: fixed;

	bottom: 5em;
	right: 5em;

	width: auto;
	height: auto;

	/*overflow: hidden;*/
}

s-modal[data-open][data-mini] {
	display: flex;
	flex-flow: column nowrap;

	z-index: 99999999;

	padding: var(--mini-padding);

	box-shadow: var(--mini-shadow);
	border: var(--mini-border);

    background-color: var(--mini-bgcolor);
    /*transition: var(--mini-transition-speed);*/
}
s-modal[data-mini]:hover {
	box-shadow: var(--mini-hover-shadow);
}

s-modal[data-mini] ytvp-modal {
	min-width: 0;
	min-height: 0;

	/*--player-background-color: none;*/
	--player-min-height: 0;
	--player-vertical-padding: 0;
}

s-modal[data-mini][data-open] dialog {
	position: relative;

	width: 100%;
	height: 100%;
}

s-modal[data-mini] ytvp-modal-info, s-modal[data-mini] ytvp-modal-actions {
	display: none;
}

.ytvp-mini-exit {
	display: none;


}

s-modal[data-mini][data-open] .ytvp-mini-exit {
	display: block;
}

.ytvp-mini-exit {

    height: var(--mini-button-height);
    border-radius: 2px;

    margin-top: var(--mini-button-margin);

    padding-left: var(--mini-button-padding);
    padding-right: var(--mini-button-padding);

    border: none;
    font-weight: bold;
    white-space: nowrap;


    color: var(--mini-button-color);
    background-color: var(--mini-button-bgcolor);
    transition: box-shadow 150ms;
}

.ytvp-mini-exit:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.32);
}
.ytvp-mini-exit:focus {
    outline: none;
}

/* christmas lights */

s-modal ul, s-modal li {
	display: none;
}

s-modal[data-christmas][data-mini] ul {
	display: flex;
	position: absolute;

    justify-content: center;

    left: 0px;

    width: 100%;

    bottom: -3.5em;

    padding: 0;
    white-space: nowrap;
 }

s-modal[data-christmas][data-mini] li {
    position: relative;
    display: inline-block;

    bottom: 0px;

    min-width: 15px;
    width: 15px;
    height: 30px;

    list-style: none;

    margin: 0px 15px;
    padding: 0;
    border-radius: 50%;

    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    animation-name: even-flash;
}

s-modal[data-christmas] li:nth-child(odd){
     animation-name: odd-flash;
 }

s-modal[data-christmas] li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 10px;
    border-radius: 4px;
    top: -5px;
    left: 0px;
    background: #444;
}

@keyframes even-flash {
    0%, 100% {
        background: rgba(255,230,65,1);
        box-shadow: 0px 2px 20px 4px rgba(255,230,65,1);
    }
    50% {
        background: rgba(255,230,65,0.5);
        box-shadow: 0px 2px 20px 4px rgba(255,230,65,0.3);
    }
}

@keyframes odd-flash {
    50% {
        background: rgba(255,65,185,1);
        box-shadow: 0px 2px 20px 4px rgba(255,65,185,1);
    }
    0%,100% {
        background: rgba(255,65,185,0.5);
        box-shadow: 0px 2px 20px 4px rgba(255,65,185,0.3);
    }
}

@media only screen and (max-width: 780px) {

	s-modal[data-christmas][data-mini] ul li:first-child {
		display: none;
	}
	s-modal[data-christmas][data-mini] ul li:last-child {
		display: none;
	}

}

@media only screen and (max-width: 335px) {

	s-modal[data-christmas][data-mini] ul li:nth-child(2) {
		display: none;
	}
	s-modal[data-christmas][data-mini] ul li:nth-child(4) {
		display: none;
	}

}