$hover-fade-duration: 0.2s;
$hover-fade-timing: ease-out;

#iv-modal:not([data-open]) {
    display: none !important;
}

#iv-video-container iframe {
    body,
    #player .html5-video-player,
    #player div {
        background-color: transparent !important;
    }
}

#iv-modal {

    --iv-layer-1: 2147483645; /* max signed 32 bit integer (for z-index)*/
    --iv-layer-2: 2147483644;
    --iv-layer-3: 2147483643;

    --iv-modal-theme-transition-speed: 0.15s;

    --iv-mini-width-multiplier: 0.20;
    --iv-mini-transition-speed: 0.3s;

    --iv-mini-width: calc(100vw * var(--iv-mini-width-multiplier));
    --iv-mini-height: calc(var(--iv-mini-width) * 0.5625);

    --iv-mini-close-size: calc(2.7vw * calc(var(--iv-mini-width-multiplier) + 0.45));
    --iv-mini-move-right: calc(0.65vw / var(--iv-mini-width-multiplier));

    --iv-ratings-likes-percent: 0%;

    display: flex;
    position: fixed;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    font-family: CenturyGothic, Roboto, Arial, sans-serif;

    z-index: var(--iv-layer-1);

    img::selection, span::selection, a::selection, p::selection {
        background-color: rgba(170, 170, 250, 0.25) !important;
    }

    * {
        overscroll-behavior: none;
    }

    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    transform-origin: 0vw 0vh;

    &[data-infotop] {
        #iv-video-info {
            order: -1;
            border-top: none;
        }
        #iv-video-actions {
            border-top: 1px solid var(--iv-border-color);
        }
    }

    &[data-mini] {
        display: block;
        position: fixed;

        width: auto;
        height: auto;

        left: unset;
        top: unset;

        min-width: 0;
        min-height: 0;

        background-color: transparent;

        // transition: top var(--iv-mini-transition-speed), left var(--iv-mini-transition-speed);
        // transition-timing-function: ease-in-out;

        #iv-video-info,
        #iv-video-actions,
        #iv-backdrop,
        #iv-comments {
            display: none;
        }

        #iv-panels,
        #iv-video-panel,
        #iv-video-container {
            display: block;
            width: auto;
            height: auto;
            min-width: 0;
            min-height: 0;
            background-color: transparent;
        }

        #iv-mini-close,
        #iv-mini-maximize,
        #iv-mini-move {
            position: absolute;

            width: var(--iv-mini-close-size);
            height: var(--iv-mini-close-size);
            margin-right: 0.5vw;
            margin-top: 0.5vw;

            cursor: pointer;

            fill: rgba(255, 255, 255, 0.85);

            visibility: hidden;
            opacity: 0;
            transition: visibility $hover-fade-duration $hover-fade-timing, opacity $hover-fade-duration $hover-fade-timing;

            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
                border-radius: 5px;
            }
        }

        #iv-mini-close {
            right: 0px;
        }

        #iv-mini-move,
        #iv-mini-maximize {
            width: calc(var(--iv-mini-close-size) * 0.8);
            height: calc(var(--iv-mini-close-size) * 0.8);
            right: 0px;
            padding: calc(var(--iv-mini-close-size) * 0.12);
            margin-right: 5.2vw;
            margin-top: 0.5vw;
        }

        #iv-mini-maximize {
            margin-right: 2.8vw;
        }

        // animation
        #iv-video-container:hover {
            #iv-mini-close,
            #iv-mini-maximize,
            #iv-mini-move {
                visibility: visible;
                opacity: 1;
            }
        }

    }

    &[data-mini=""],
    &[data-mini=br] {
        top: calc( (100vh - var(--iv-mini-height)) - 4em);
        left: calc( (100vw - var(--iv-mini-width)) - 3.5em);
    }
    &[data-mini=bl] {
        top: calc( (100vh - var(--iv-mini-height)) - 4em);
        left: 2em;
    }
    &[data-mini=tr] {
        top: 2em;
        left: calc( (100vw - var(--iv-mini-width)) - 3.5em);
    }
    &[data-mini=tl] {
        top: 2em;
        left: 2em;
    }

    &:not([data-mini]) {
        #iv-mini-close,
        #iv-mini-maximize,
        #iv-mini-move {
            display: none;
        }
    }

    &[data-title-centered] {
        #iv-video-title-wrapper {
            justify-content: center;
        }
    }

    &[data-comment-borders] {
        .iv-comment {
            border: 4px solid var(--iv-border-color);
            padding: 0.3vw;
        }
    }
    &[data-comment-spacing] {
        .iv-comment {
            margin-bottom: 1vw;
        }
    }
    &[data-comment-separation] {
        #iv-comments {
            margin-left: 1vw;
        }
    }

}

.iv-notification-button {

    cursor: pointer;

    color: var(--iv-channel-owner-color);

    padding: 0.5vw;

    font-size: 0.9vw;
    text-transform: uppercase;

    outline: none;

    border: none;
    background-color: transparent;

    z-index: 2147483646;
}

.iv-notification-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.iv-notification-button:first-of-type {
    margin-left: 0.7vw;
}

#iv-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    z-index: var(--iv-layer-3);
}

.iv-notification-link:link,
.iv-notification-link:visited,
.iv-notification-link:hover,
.iv-notification-link:active {
    color: #A3ABF8;
}
